{% extends "PortfolioDatabase/navbar.html" %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
    {% block body %}
    <div class="container">
        <h1>Hobby Details:</h1>
        <div>
            <a href="{% url 'hobbies' %}" class="btn btn-dark">back</a>
        </div>
        <hr />
        <div>
            {{ item.name }}
            <br />
            {{ item.desc}}
        </div>
    </div>
    <hr />
    <div class="d-flex justify-content-around">
        <img src="{{ item.img }}" alt="item image" class="w-50 rounded" />
    </div>
    {% endblock %}
</body>
</html>