{% extends "PortfolioDatabase/navbar.html" %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
    {% block body %}
    <div class="container">
        <h1>Hobby Details:</h1>
    <div>
        <a href="{% url 'hobbies' %}">back</a>
    </div>
    <hr />
    <div>
        {{ item.name }}
        <br />
        {{ item.desc}}
    </div>
    </div>
    {% endblock %}
</body>
</html>