{% extends "PortfolioDatabase/navbar.html" %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
    {% block body %}
    <div class="container">
        <h1>Portfolio</h1>
        <ul class="list-group">
            {% for item in item_list %}
            <li class="list-group-item">
                <div>
                    <a href="{% url 'portfolioDetails' item.id %}" class="btn btn-secondary">{{ item.name }}</a>
                    <br />
                    {{ item.desc }}
                </div>
                <br />
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
</body>
</html>