<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
    <h1>prtofilio</h1>
    <ul>
        {% for item in item_list %}
        <li>
            <div>
                <a href="{% url 'portfolioDetails' item.id %}">{{ item.name }}</a>
                <br />
                {{ item.desc}}
            </div>
            <br />
        </li>
        {% endfor %}
    </ul>
</body>
</html>